body{
    background-color: gainsboro;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
nav{
    background-color: white;
    margin-bottom: 75px;
}
#calculator{
    background: darkgray;
    max-width: 350px;
    height: 500px;
    margin: 0 auto;
}

button{
    width: 33.33%;
    text-align: center;
    height: 16%;
    line-height: 100px;
    font-size: 30px;
    transition: 0.3s;
    border: none;
    border-bottom: grey 2px solid;
    background-color: darkgray;
}

button:focus{
    outline: none;
}

button:hover{
    border-bottom: white 2px solid;
    cursor: pointer;
    color: white;
}

#results{
    height: 16.6666%;
    overflow: hidden;
    line-height: 100px;
    font-size: 24px;
    text-align: right;
}

.center{
    margin: 0 auto;
}

#copyImage{
    width: 20px;
    position: absolute;
    margin-top: 15px;
}

#copyImage:active{
    opacity: 0.5;
}

#clear{
    width: 10%;
    line-height: 50px;
    float: left;
    border: none;
    height: 10%;
}

#githubLink{
    margin-top: 70px;
    text-align: center;
}

#gitImage{
    width: 80px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

/* Ripple magic */
button{
    position: relative;
    overflow: hidden;
}

button:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
    }

    button:focus:not(:active)::after {
    animation: ripple 0.5s ease-out;
}

#history-title{
    text-align: center;
}